{% extends "FOSUserBundle::layout.html.twig" %}

{% block subhead_title %}Mon profil <small>Changer ce que l'on sait de moi.</small>{% endblock subhead_title %}

{% block container %}
            {% for key, message in app.session.getFlashes() %}
                <div class="alert {% if key == 'fos_user_success'%}alert-success{% else %}{{ key }}{% endif%}">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
            
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

                <div class="row">
                    <fieldset class="span4 offset2">
                        <legend>Informations de connexion</legend>
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.current_password) }}
                    </fieldset>
                    <fieldset class="span4">
                        <legend>Informations personnels</legend>
                        {{ form_row(form.surname) }}
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.mobile) }}
                    </fieldset>
                    {{ form_widget(form) }}
                </div>
                <div class="row">
                    <div class="form-actions span8 offset2">
                        <button type="submit" class="btn btn-primary" id="_submit" name="_submit">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
                        <a href="{{ path('fos_user_profile_show') }}" class="btn">Annuler</a>

                        <div class="pull-right">
                            <a href="{{ path('fos_user_change_password') }}" class="btn btn-warning">Changer de mot de passe</a>{#
                            <a href="" class="btn btn-danger">Supprimer le compte</a> #}
                        </div>
                    </div>
                </div>
            </form>
{% endblock container %}