{% extends "::base.html.twig" %}

{% block container %}
        <div class="content">
            <div class="page-header main-header">
	            <div class="btn-toolbar">
	            {% block page_header_toolbar %}
	                <div class="btn-group">
	                {% if is_granted('ROLE_USER') %}
	                    {% block page_header_toolbar_account %}
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            {% if app.user.surname %}{{ app.user.firstname }} {{ app.user.surname }}{% else %}{{ app.user }}{% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Mon compte</a></li>
                            <li><a href="{{ path('fm_calendar_my_events') }}">Mes Évènements</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        </ul>
                        {% endblock page_header_toolbar_account %}
	                {% else %}
	                    <a class="btn" href="{{ path('fos_user_security_login') }}">Connexion</a>
	                {% endif %}
	                </div>
	            {% endblock page_header_toolbar %}
	            </div>
	            <h1>{% block page_header_title %}Calendrier Agnetz Tir à l'arc{% endblock page_header_title %}</h1>
            </div>
            {% block content %}

            {% endblock content %}
        </div>
 {% endblock container %}